queryCatalogTreeUrl=http://10.5.1.247:5095/HubCrmServlet?servicecode=queryCatalogTree&WEB_HUB_PARAMS={"data":{"catalogId":+catalogId+,"isGetElderOrChildren":2},"header":{"content-type":"application/json"}}
queryProductOfferingUrl=http://10.5.1.247:5095/HubCrmServlet?servicecode=queryProdOffering&WEB_HUB_PARAMS={"data":{"condition":{"conditionType":[{"condType":"catalogId","condValue":["+singleCatalogId+"]}],"pageSize":10,"pageNumber":1}},"header":{"content-type":"application/json"}}
acquireProductOfferingUrl=http://10.5.1.247:5095/HubCrmServlet?bridgeEndpoint=true&servicecode=acquireProductoffering&WEB_HUB_PARAMS={"data":{"productofferingID":"+offeringId+","productofferingCode":"+offeringCode+"},"header":{"Content-Type":"application/json"}}
queryComentUrl=http://10.5.1.247:5095/HubCrmServlet?servicecode=queryCommentsForServiceDetail&WEB_HUB_PARAMS={"data":{"objectId":+offeringId+,"objectType":"Offering"},"header":{"Content-Type":"application/json"}}
matchNumber=5