/*/.settings
/*/target
/*/bin
/.settings
/fileProcessorImpl/data
/fileProcessorImpl/SpiderFiles
/*/.classpath
/ServiceCalendarMgrImpl/target
/ServiceCalendarMgrImpl/target/classes/ProductOfferingFiles
/.recommenders
/.metadata
/RemoteSystemsTempFiles
/Servers
